# Ignore Maven build results
target/
*.jar
*.exe

# Ignore IDE build folders (The one you found)
out/

# Ignore VS Code & IDE settings
.vscode/
.idea/
.settings/
.classpath
.project
*.iml

# Ignore the installer output folders
SpamCheck_FINAL_*/
SpamCheckOutput*/

# OS junk
.DS_Store
Thumbs.db